<% provide(:title,'About Us') %>
    <h1>About Us</h1>
    <p>
      <a href="http://whizcollab.com/">Whizcollab</a> is a project to bring together upcoming artists in different fields and enhance their ability to collaborate to produce exciting projects.
      
    </p>
 